.refinery {
  width: 100%;
  height: 200px;
  /* background-position: center; */
}

.imgtext{
  position: relative;
  text-align: center;
  color: white;
}
.section {
  position: absolute;
  text-align: center;
  top: 75%;
  width: 100%;
}
.mainsection{
  position: relative;
}

.bottom-left{
    position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}

.line{
  background-color: white;
  color: #FF9E8F;
  height: 5px;
  width: 40px;
  border-radius: 10px;
}
.linee{
  background-color: yellow;
  color: #FF9E8F;
  height: 5px;
  width: 40px;
  border-radius: 10px;
}
.designn{
  background-color: yellow;
  color: #FF9E8F;
  height: 250px;
  width: 400px;
  border-radius: 10px;
}
.foot-linee{
  background-color: white;
  color: #FF9E8F;
  height: 0.5px;
  width: 100%;
  border-radius: 10px;
  font-weight: lighter;
}
.cont{
  background-color: yellow;
}

.space{
  background-position-x: 10px;
}
.font-one{
  background-color: #ffe32a;
}

.font-onee{
  color: #ffe32a;
}
.font-two{
  background-color: #002f57;
}
.imagei{
  background-color: #002f57;
  height: 60px;
  width: 445px;
  border-radius: 10px;
}
.font-twoo{
  color: #002f57;
}

.foot {
  padding-top: 100px;
  padding-bottom: 100px;
}
.foot-size {
  font-size: small;
}

.footw {
  font-weight: lighter;
}

.coll i::after{
  color: white;
}

.den{
  border: 3px solid blue;
  padding: 35px;
}

.tech{
  position: relative;
}

.tech-text{
  position: absolute;
  top: 10.5rem;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
.clientelee{
  display: flex;
}
.col{
  
  padding: 5px;
}

.slider1 {
  background-image: url('../src/utilities/images/05_Petrochem_0-300x153.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  width:100%;
}
.slider2 {
  background-image: url('../src/utilities/images/20180223104559579892880-300x225.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}